@import "{{ site.theme }}";

.main-nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-item {
  font-size: 18px; // 글자 크기를 18px로 설정
  margin-right: 15px; // 각 항목 사이의 간격
  text-decoration: none; // 밑줄 제거
  color: #333; // 글자 색상
  font-weight: bold; // 글자를 굵게
}

.nav-item:hover {
  color: #0366d6; // 마우스 오버 시 색상 변경
}
